@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100;300;400;500&display=swap');

/* font-family: 'Fredoka One', cursive;
font-family: 'Montserrat', sans-serif; */

*{
  background-color: aqua;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}